<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/navigation') %>

		<main
			class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
		>
			<section>
				<h3 class="display-1">About</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
					voluptate eum nisi ut repudiandae qui laborum, reiciendis debitis,
					magnam deserunt quas impedit explicabo, dolore distinctio odio!
					Praesentium, in. Culpa, porro iure expedita, omnis facilis maiores
					adipisci dolorum debitis laudantium facere voluptates illo. Minima
					autem impedit recusandae vitae officia delectus sequi inventore
					reprehenderit, in commodi nam, illo beatae architecto suscipit
					voluptatum dolore sit minus saepe blanditiis sunt, libero natus. Velit
					repudiandae, quos maiores ut reprehenderit repellat asperiores sint
					vitae aperiam quae, quo pariatur iste, harum ea! Nemo, deleniti.
					Possimus id aliquam labore et! Nostrum doloremque ipsum pariatur ipsam
					provident dicta, sunt illo? Assumenda, repellendus obcaecati maxime,
					ad voluptatum cumque nihil libero, veniam numquam laboriosam saepe
					sunt. Enim ratione maxime veritatis unde inventore quidem facilis
					eaque debitis recusandae pariatur similique vitae nemo repellat illo
					id, tempore iusto consequuntur velit quaerat impedit, sed nulla?
					Itaque doloribus beatae pariatur ipsa tempore corporis, consequuntur
					ipsam veritatis. Voluptates eligendi magni aspernatur, fuga velit
					libero sapiente esse beatae? Reiciendis qui natus repellendus vel
					sapiente, sequi suscipit deleniti iure magni eius laboriosam autem
					velit eligendi cupiditate obcaecati nemo optio. Incidunt officiis
					illum voluptas voluptatem, nulla est ab vitae, similique veritatis
					eius ratione aperiam dolore nobis modi! Quis, corrupti!
				</p>
			</section>
		</main>
		<%- include('partials/footer') %>
	</body>
</html>
